//@import url("path/to/common.css");

// bar css
// GTK CSS File for Eww
* {
    all: unset; //Unsets everything so you can style everything from scratch
}

button {
    all: unset;
    background-color: #1d212a;
    padding: 10px;
}

.bar {
    padding-top: 5px;
    color: #c2c6c3;
}

.bar box box box {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    background-color: #1d212a;
}

.bar-left {
    margin-left: 10px;
}

.bar-left box:not(:first-child) {
    margin-left: 5px;
}

.bar-right {
    margin-right: 10px;
}

.bar-right box:not(:last-child) {
    margin-right: 5px;
}

.bar-wifi {
    color: #a6e3a1;
}

.bar-ws {
    color: #fab387;
}

.bar-time {
    color: #89dceb;
}

.bar-bat {
    color: #b4befe;
}

.bar-player-title .musicon {
    padding-right: 5px;
    color: #1DB954;
}
